# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside

# macOS
.DS_Store
.AppleDouble
.LSOverride

# CocoaPods / SPM
Pods/
.build/

# Misc
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.swp
*~
